<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>apiFeriado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apiFeriado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
  
    <ion-card *ngFor="let feriado of feriados">
    <ion-card-header>
      <ion-card-title> {{feriado.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <p><strong>Fecha: </strong>{{feriado.date}}</p>
      <p><strong>Tipo: </strong>{{feriado.type}}</p>
      <p><strong>Extra: </strong>{{feriado.extra}}</p>
      
      <!--<p><strong>Leyes: </strong>{{item.leyes}}</p>-->
    </ion-card-content>
    
    </ion-card>
  </ion-list>
</ion-content>
