#container {
    text-align: center;
  
    position: static;
    left: 0;
    right: 0;

    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  ion-content::part(background) {
    
  }
  
  ion-content::part(scroll) {
    color: #fff;
    background-image: url('/assets/icon/img/azul2.jpg');
  }
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .bold-title {
    margin-top: 0px; /* Ajusta este valor según sea necesario */
  }
  
  ion-card {
    margin-top: 00px; /* Ajusta este valor según sea necesario */
  }
  