<br>
<br>
<ion-content [fullscreen]="true" class="ion-padding">
  <br>
  <div class= "ion-text-center">
      <ion-card>
      <br/>
        <div>
          <h1>Bienvenido!</h1>
          <div>
          <ion-item>
            <ion-label>Usuario: {{data.usuario}}</ion-label>
          </ion-item>
          <br>
            <div *ngIf="data.nombre">Nombre: {{ data.nombre }}</div>
            <div *ngIf="data.apellido">Apellido: {{ data.apellido }}</div>
            <div *ngIf="data.fecha">F.nacimiento: {{ data.fecha }}</div>
          </div>
        </div>
      
        <ion-card-content>

        </ion-card-content>
      </ion-card>
  </div>
</ion-content>

  <ion-footer>
  <ion-toolbar>
    <h6> App desarrollado por Dennisse Reveco </h6>
  </ion-toolbar>

  </ion-footer>