
<ion-content [fullscreen]="true" class="ion-padding">

  <div class= "ion-text-center">
      <ion-card>
      <br/>
        <div>
          <h1>Bienvenido!</h1>
          <div>

          <ion-icon name="person-outline" size="large"></ion-icon>
            <h4>Usuario: {{data.usuario}}</h4>
          <br>
        </div>
          <ion-title size="large">Información adicional</ion-title>
        </div>
        
        <ion-card-content>
        <ion-item>
            <ion-input  type="number" labelPlacement="floating" [(ngModel)]="nCuenta" placeholder="Enter account number " required>
              <div class="animated-div" slot="label" >Numero de Cuenta <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>
          <br/>
          <ion-item>
            <ion-input  labelPlacement="floating" [(ngModel)]="nombre" placeholder="Enter name" required>
              <div class="animated-div" slot="label">Nombre <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>
          <br/>
          <ion-item>
            <ion-input  labelPlacement="floating" [(ngModel)]="apellido" placeholder="Enter lastname" required>
              <div class="animated-div" slot="label">Apellido <ion-text color="danger">(Required)</ion-text></div>
            </ion-input>
          </ion-item>
            <ion-list>
              <ion-item>
                <ion-select label="Nivel Educación" [(ngModel)]="opcion" aria-label="opcion" interface="popover" placeholder="Select Nivel">
                  <ion-select-option value="ducación básica">Educación básica</ion-select-option>
                  <ion-select-option value="Educación Media">Educación Media</ion-select-option>
                  <ion-select-option value="Educación Superior">Educación Superior</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          <ion-item>
            <ion-input type="date" label="Fecha de nacimiento" [(ngModel)]="fecha"  placeholder="Enter lastname"></ion-input>
            <ion-icon name="calendar-sharp"></ion-icon>
          </ion-item>

        <div>
         <br/>
          <ion-button color="secondary" (click)="limpiar()">Limpiar</ion-button>
          <ion-button color="secondary" (click)="mostrarDatos()">Mostrar</ion-button>
          <ion-button color="secondary" (click)="enviarDatosAHome()">Guardar</ion-button>
         </div>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>

  <ion-footer>
  <ion-toolbar>
    <h6> App desarrollado por Dennisse Reveco </h6>
  </ion-toolbar>

  </ion-footer>